{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:stylesheet">
    <title>Django Blog</title>
</head>
<body>
    <!-- <header>
        <h1><a href="/">Django Blog(Back to the Home)</a></h1>
        <hr>
        
    </header> -->

    <div class="container">
        <header>
            <div class="nav-left">
                <h1><a href="/">Django Blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>
        <div>
            <div>
                {% if user.is_authenticated %}
                    <p> HI, {{ user.username }} </p>
                    <p><a href="{% url 'logout' %}">logout</a></p>
                {% else %}
                     <p> You are not logged in.</p>
                     <a href='{% url 'login' %}'>Login</a>
                {% endif %}
            </div>

        </div>
        {% block content %} 
        {% endblock content %}
    </div>
</body>
</html>